// https://www.colorxs.com/color/hex-173f57

@import "functions";
@import "variables";

$teal-green: #15485c !default;
$indigo-dye: #173F57 !default;
$light-grey: #ced4da !default;
$white-smoke: #f8f9fa !default;