@import "/src/assets/style/app-variables";

button[mat-icon-button]{
    cursor: hand;
    background-color: transparent;
    border: 0;
}

button[mat-icon-button] > mat-icon{
    vertical-align: middle;
}

button[mat-icon-button] > span{
    display: inline-block;
    position: relative;
}

button[mat-icon-button] > span:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

button[mat-icon-button] > span:hover:after{
        transform: scaleX(1);
        transform-origin: bottom left;
}