@import "/src/assets/style/app-variables";

div.input-group-text{
    background-color: transparent;
    border-left: inherit;
}

input.form-control{
    font: inherit;
    border-right: inherit;
}

input:focus, 
input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    border-color: $light-grey;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {
    font-style: italic; 
 }