<div class="container-fluid p-0">
    <inv-header></inv-header>
    <mat-toolbar class="p-2">
        <inv-toggle-icon-button primaryIcon="close" secondaryIcon="menu" [condition]="drawer.opened" (toggle)="drawer.toggle()"></inv-toggle-icon-button>
        
        <inv-search-field class="ms-auto me-auto"></inv-search-field>

        <inv-default-icon-button class="flex-end" icon="person"></inv-default-icon-button>
        <!-- <inv-default-icon-button class="flex-end" icon="person"></inv-default-icon-button> -->
        <!-- <div class="container-fluid p-0">
          <div class="row">
            <div class="col-auto">
              <inv-toggle-icon-button primaryIcon="close" secondaryIcon="menu" [condition]="drawer.opened" (toggle)="drawer.toggle()"></inv-toggle-icon-button>
            </div>
            <div class="col-auto ms-auto">
              <inv-default-icon-button class="flex-end" icon="person"></inv-default-icon-button>
            </div>
          </div>
        </div> -->
    </mat-toolbar>
    <mat-drawer-container autosize>
        <mat-drawer #drawer mode="side" opened>
          <div class="p-3">
            <!-- https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->
            <div><inv-default-icon-button title="Create Invoice" icon="developer_board" color="white" (onLoadEvent)="onLoad('invoice')"></inv-default-icon-button></div> <!-- Omitting the brackets will render the string "file_open", not the value of file_open. for more info: https://docs.angular.lat/guide/property-binding -->
            <div><inv-default-icon-button title="Create Estimate" icon="style" color="white" (onLoadEvent)="onLoad('estimate')"></inv-default-icon-button></div>
            <div><inv-default-icon-button title="Create Sales Receipt" icon="receipt" color="white" (onLoadEvent)="onLoad('receipt')"></inv-default-icon-button></div>
            <mat-divider class="mt-2 mb-2"></mat-divider>
            <div><inv-default-icon-button title="History" icon="history" color="white" (onLoadEvent)="onLoad('history')"></inv-default-icon-button></div>
            <div><inv-default-icon-button title="Reminder" icon="add_alarm" color="white" (onLoadEvent)="onLoad('reminder')"></inv-default-icon-button></div>
            <mat-divider class="mt-2 mb-2"></mat-divider>
            <div><inv-default-icon-button title="Statistics" icon="bar_chart" color="white" (onLoadEvent)="onLoad('statistics')"></inv-default-icon-button></div>
          </div>
        </mat-drawer>
        <mat-drawer-content>
          <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
    <inv-footer></inv-footer>
</div>